doctype
html(lang='en')
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Prajjwal Dimri
    meta(name="description" content="The virtual home of Prajjwal Dimri, a full stack web developer specializing in VueJS and NodeJS.")
    link(href="main.css", rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")

  body

    button.btn-toggle
      img.btn-toggle-img(src="./vectors/sun.svg")

    .main-grid

      aside.info
        .profile
          img(src="./images/Profile.jpeg")

        .headline
          h1.font-bold WELL HELLO THERE!

        p.font-thin You found me! I am&nbsp;
          span.font-bold Prajjwal Dimri.
        p.font-thin I am a Full Stack Web Developer specializing in&nbsp;
          a(href="https://vuejs.org") VueJS
          span  and&nbsp;
          a(href="https://nodejs.org") NodeJS.

        .social-buttons
          a(href="https://github.com/prajjwaldimri" target="_blank")
            img(src="./vectors/button-github.svg" width="64")
          a(href="https://www.linkedin.com/in/prajjwaldimri/" target="_blank")
            img(src="./vectors/button-linkedin.svg" width="64")
          a(href="https://t.me/prajjwaldimri" target="_blank")
            img(src="./vectors/button-telegram.svg" width="64")
          a(href="mailto:prajjwaldimri@outlook.com")
            img(src="./vectors/button-mail.svg" width="64")

        .footer
          h5.font-normal.grey--text.pb-0.mb-0 Website built with PUG, SCSS and JS. Hosted on&nbsp;
            a(href="https://gitlab.com" target="_blank").grey--text Gitlab

      .projects.main-carousel
        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 macha.in
                a(href="https://macha.in" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/macha" target="_blank")
                  img(src="./vectors/github-logo.svg" height="44")


              .features
                ul
                  li.font-thin A privacy focused social network
                  li.font-thin Built with NodeJS, Nuxt, MongoDB and GraphQL
                  li.font-thin Completely Open Source

            .image
              img(src="./images/macha.png")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 Rajbhasha Portal
                a(href="http://nitgoa.ac.in/rajbhasha" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/rajbhasha-website" target="_blank")
                  img(src="./vectors/github-logo.svg" height="44")


              .features
                ul
                  li.font-thin Rajbhasha Portal built for N.I.T. Goa
                  li.font-thin Built with VueJS

            .image
              img(src="./images/rajbhasha.png" style="width: 17rem")

        .carousel-cell
          .cell
            .project-info
              .title
                img(id="campzy-logo" src="./vectors/campzy.svg" height="48").pr-1
                a(href="https://campzy.in" target="_blank")
                  img(src="./vectors/website-logo.svg" height="40").pr-1


              .features
                ul
                  li.font-thin Online camp booking website
                  li.font-thin Built with NodeJS, VueJS, MongoDB and GraphQL
                  li.font-thin Inventory Management system for camp owners
                  li.font-thin Payment Gateway integrated

            .image
              img(src="./images/smartmockups_jnfz7k1g.png" style="width:20rem")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 potential-doodle
                a(href="https://gitlab.com/PrajjwalDimri/potential-doodle" target="_blank")
                  img(src="./vectors/github-logo.svg" height="40").pr-1


              .features
                ul
                  li.font-thin A game which tries to merge Procedural Generation and Car Racing into one.
                  li.font-thin Built with C# and Unity

            .image
              video(src="./videos/Camera-Potential-Doodle.mp4" height="160" autoplay loop muted)

        .carousel-cell
          .cell
            .project-info
              .title
                img(src="./vectors/befriend.svg" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-mobile
                  img(src="./vectors/microsoft-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-mobile
                  img(src="./vectors/github-logo.svg" height="44")

                img(src="./vectors/befriend.svg" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-desktop
                  img(src="./vectors/microsoft-logo.svg" height="30").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-desktop
                  img(src="./vectors/github-logo.svg" height="30")

              .features
                ul
                  li.font-thin A rape prevention app for Windows Phones
                  li.font-thin.no-display-mobile Uses Microsoft's OEM reserved APIs to function which they graciously provided for this app.
                  li.font-thin.no-display-mobile Completely Open Source
                  li.font-thin.no-display-mobile Built with Xamarin and C#

              .quotes
                q.font-thin.no-display-mobile The concept here is pretty compelling, especially if you venture anywhere where you might come a cropper.
                q.font-thin.no-display-desktop The concept here is pretty compelling.
                a(href="http://allaboutwindowsphone.com/reviews/item/21547_BeFriend.php" target="_blank")
                  p.mt-0.dark--text - Steve LitchField, AllAboutWindowsPhone.com

            .image
              img(src="./images/befriend.png").no-display-mobile
              img(src="./images/befriend.png" width="12rem").no-display-desktop

        .carousel-cell
          .cell
            .project-info
              .title
                img(src="./vectors/10calc.svg" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-mobile
                  img(src="./vectors/microsoft-logo.svg" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-mobile
                  img(src="./vectors/github-logo.svg" height="44")

                img(src="./vectors/10calc.svg" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-desktop
                  img(src="./vectors/microsoft-logo.svg" height="36").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-desktop
                  img(src="./vectors/github-logo.svg" height="36")

              .features
                ul
                  li.font-thin A super versatile calculator rated 4.5 stars on Microsoft Store
                  li.font-thin.no-display-mobile Built using C#
                  li.font-thin.no-display-mobile Completely Open Source

              .quotes
                q.font-thin The more I used 10Calc, the more the Windows Phone app grew on me
                a(href="https://www.windowscentral.com/10calc-windows-phone-app-review" target="_blank")
                  p.mt-0.dark--text - George Ponder, Windows Central

            .image
              img(src="./images/10Calc.png")


    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(async src="main.js")

